header.navigation-header {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
  flex-direction: column;
  background-color: #e7e2e2;
  height: 400px;
  width: 100%;
  background-color: #826dc9;
background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
}
nav span {
  font-family: 'Bungee', sans-serif;
}

h2.user-name {
  margin-top: 0%;
  margin-bottom: 0%;
}