nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
    width: 100%;
    top: 0;
}

nav span {
  font-family: 'Bungee', sans-serif;
}