.new-tweet {
  display: flex; 
  flex-direction: column;
  }

#tweet-text {
width:100%;
border: none;
outline: none;
border-bottom: 8px solid black;
}

.submitTweet {
  display: flex;
  justify-content: space-between;   
  color: rgb(0, 0, 0);
  font-family: 'Bungee', sans-serif;
  }

  button{
    background-color: darkblue;
    color: white;
    outline: none;
  }

.minus-counter {
  color: red;
}